
#center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 10px;
}

#rightheader {
	padding-right: 10px;
	top: 50%;
	float: right;
}

@media (min-width: 768px){
	#center #seek{
		display: inline-block;
		width: 80%;
		width: calc(100% - 350px);
		left: 15px;
		padding-right: 5px;
		top: 2px;
	}
}

#center #seek{
	display: inline-block;
	width: 80%;
	width: calc(100% - 480px);
	left: 15px;
	padding-right: 5px;
	top: 2px;
}

#center #volume{
	display: inline-block;
	width: 120px;
	left: 10px;
	padding-right: 5px;
	top: 2px;
}

.ui-slider .ui-slider-handle {

}

#center #duration {
	font-weight: bold;
}

label {
	margin-left: 1em;
color: white;
}

#duration {
	margin-left: 2em;
}	

.content h1 {
	color: white;
}

.comments {
	background-color: #000000;
	color: white;
	font-family: 'Avenir Next', sans-serif;
	width: 750px;
	margin: 0 auto;
	margin-top: 75px;	
	padding: 5px;
}

input, select, textarea{
	color: black !important;
}

textarea:focus, input:focus {
    color: black;
}
