{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	{% block title %}<title>Fabler</title>{% endblock %}
	<link rel="stylesheet" href="{% static 'podcast/style.css' %}" type="text/css" media="screen"/>
	{% block scripts %}{% endblock %}
</head>

<body>
	<div class="wrapper">
		<header>
		{% block header %}
		<!-- <nav>
			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li class="subscribe"><a href="#">Subscribe via. RSS</a></li>
			</ul>
		</nav> -->
		{% endblock %}		
		</header>
		<div class="content">
			{% block content %}

			{% endblock %}
		</div>
		<div class="comments">
			{% block comments %}

			{% endblock %}
		</div>
		<!-- <nav>
			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Archives</a></li>
				<li><a href="#">Contact</a></li>
				<li class="subscribe"><a href="#">Subscribe via. RSS</a></li>
			</ul>
		</nav> -->
		<div class="push"></div>
	</div>
	<footer>
		<p>
			Copyright &copy; Sweet Tea Corp - 2015
		</p>
	</footer>

</body>

</html>
