{% extends "podcast/base.html" %}
{% load staticfiles %}
{% load comments %}

{% block title %}	
	<title>Episode {{ episode.title }}</title>
{% endblock %}

{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'podcast/episode.css' %}" type="text/css" media="screen"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="{% static 'podcast/player.js' %}" type="text/javascript"></script>
{% endblock %}

{% block header %}
	<div id="center">
		<div class="form-inline">
			<button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default" id="playpause">
				<span class="glyphicon glyphicon-play" id="play" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
			</button>
			
			<label for="seek" id="curtime">00:00:00</label>	
			<!-- <input type="range" id="seek" class="form-control" value="0" max="80"> -->
			<div id="seek" value="0"></div>
			<label for="seek" id="duration">{{ episode.duration }}</label>	
			<div id="volume" value="0.5"></div>

			<div id="rightheader">
				<button type="button" class="btn btn-default pull-right" id="mute">
					<span class="glyphicon glyphicon-volume-up" id="volumemute" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
{% endblock %}


{% block content %}
	<h1>{{ episode.title }}</h1>
	<h4>by {{ episode.podcast }}</h4>
	<p>{{ episode.description }}</p>
	<p>{{ episode.pubdate }}</p></br></br>

	{% get_comment_count for episode as comment_count %}
	<p>{{ comment_count }} comments have been posted.</p>
	{% render_comment_list for episode %}
	{% get_comment_form for episode as form %}
	<table>
	  <form action="{% comment_form_target %}" method="post">
		{% csrf_token %}
		{{ form }}
		<tr>
		  <td colspan="2">
			<input type="submit" name="submit" value="Post">
			<input type="submit" name="preview" value="Preview">
		  </td>
		</tr>
	  </form>
	</table>
	{% for comment in comment_list %}
	<p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
	<p>Comment: {{ comment.comment }}</p>
	{% endfor %}

	<!-- Here be ye audio player -->
	<script type="text/javascript">
		jQuery(document).ready(function() {

			playpause = $('#playpause');
			mute = $('#mute');
			song = new Audio('{{ episode.link }}', '{{ episode.link}}');

			//var semaphore = 0;
			if (song.canPlayType('audio/mpeg;')) {
				song.type= 'audio/mpeg';
				song.src= '{{ episode.link }}';
			} else {
				song.type= 'audio/ogg';
				song.src= '{{ episode.link }}';
			}
			vslider = $( "#volume" ).slider({
				max: 100, 
				value: 50,
				slide: function( event, ui ) {
					$( ".slidervalue" ).val( ui.value );
					song.volume = (ui.value/100);
				}       					
			});

			slider = $( "#seek" ).slider({
				max: 110, 
				value: 0,
				slide: function( event, ui ) {
					$( ".slidervalue" ).val( ui.value );
					song.currentTime = ui.value;
				}       					
			});
			song.addEventListener('loadedmetadata', function(){
				slider.slider("option", "max", parseInt(song.duration, 10));
				console.log(song.duration);
			});

			playpause.on('click', function(e) {
				e.preventDefault();
				$(this).children('#play').toggleClass('glyphicon-pause').toggleClass('glyphicon-play');
				$('#seek').attr('max',song.duration);
				if(song.paused) {
					song.play();
				}
				else {
					song.pause();
				}
			});
			mute.on('click', function(e) {
				e.preventDefault();
				$(this).children('#volumemute').toggleClass('glyphicon-volume-up').toggleClass('glyphicon-volume-off');
				if(song.muted) {
					song.muted = false;
				}
				else {
					song.muted = true;
				}
			});
			song.addEventListener('timeupdate',function (){
				curtime = parseInt(song.currentTime, 10);
				slider.slider("option", "value", curtime);
				var sec_num = parseInt(song.currentTime, 10);
				var hours   = Math.floor(sec_num / 3600);
				var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
				var seconds = sec_num - (hours * 3600) - (minutes * 60);
				if (hours   < 10) {hours   = "0"+hours;}
				if (minutes < 10) {minutes = "0"+minutes;}
				if (seconds < 10) {seconds = "0"+seconds;}
				var currentTime    = hours+':'+minutes+':'+seconds;
				$("#center #curtime").text(currentTime);
			});

	});
	</script>

	</br></br>
{% endblock %}
