body {
	color: black;
	font-family: 'Avenir Next', sans-serif;
	text-align: center;
}


p {
	color: black;
	text-align: left;
}

#totheleft {
	text-align: left;
	padding-left: 30%;
}

#center {
	text-align: center;
}
